* {
  margin: 0;
  padding: 0;
  border: 0;
  box-sizing: border-box;
}

html,
body {
  min-height: 100%;
}

body {
  font-family: "Roboto", sans-serif;
  color: #000033;
  background-color: #fbab7e;
  background-image: linear-gradient(62deg, #fbab7e 0%, #f7ce68 100%);
  display: flex;
  justify-content: center;
}

main {
  background: #ffffcc;
  width: 75vw;
  max-width: 1280px;
  min-width: 768px;
  min-height: 100vh;
  padding: 32px 16px;
}

@media (min-width: 768px) {
  main {
    margin: 32px 0px;
    min-height: calc(100vh - (32px * 2));
    border-radius: 16px;
    padding: 32px;
  }
}

@media (min-width: 1024px) {
  main {
    margin: 64px 0px;
    min-height: calc(100vh - (64px * 2));
    padding: 48px 32px;
  }
}
